<link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">


body{
	width: 100%;
	margin: 0;
	padding: 0;
}

div.container {
	width: 100%;
	border: 1px solid gray;
	height: lem;
	background-color: #696969;
}

header {
	padding: 10px;
	color: white;
	background-color: black;
	float: bottom;
	text-align: center;
	width: 100%;
	height: 100px;
	margin: 0;
}

footer {
	
	padding: 15px;
        color: white;
        background-color: black;
        clear: left;
        text-align: center;
	float: top;
}

.article1{
	width: 100%;
	height: 300px;
	padding-top: 20px;
	text-align: center;
	border-top: 2px solid black;
}

.article-title{
	font-family: Barlow Semi Condensed, sans-serif;
	color: white;
}

.article2{
	background-color: #808080;
	font-family: spectral sc, serif;
	font-color: #DCDCDC;
	border-top: 2px solid black;
	text-align: center;
	height: 300px;
}

.article3{
	border-top: 2px solid black;
	width: 100%;
	height: 300px;
}

#prova{
	width: 180px;
	height: 212px;
	float: right;
}

.article-text{
	font-size: 15px;
	font-color: #DCDCDC;
	font-family: spectral sc, serif;
}

.link-assuntos{
	text-decoration: none;
	font-family: spectral sc, serif;
	color: white;
	font-size: 15px;
}

.article-assuntos{
	width: 100%;
	height: lem;
}
