body .container {
	width: 100%;
	border: 1px solid gray;
	height: 1500px;
	margin: 0;
}

header {
	position: fixed;
	color: #fff;
	background: #008000;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 1;
	height: 88%;
	overflow: hidden;
	top: 0;
	left: 0;
}

header .container {
	padding-top: 150px;
	padding-bottom: 50px;
}

header .intro-text .name {
	display: block;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 2em;
	font-weight: 700;
}

header .intro-text .skills{
	font-size: 1.25em;
	font-weight: 300;
}
.navbar-default {
	background-color: #00b300;
}

.navbar .brand, .navbar .nav > li > a {
	color: white;
}

.navbar-default .navbar-brand {
	color: white;
}


